*{
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
  font-size: 25px;
  cursor: pointer;
  color: blue;
}
a:hover{
  color: grey;
}
a:active{
  color: #555;
}

.container{
  display: flex;
  height: 100vh;
}

.first-half-open{
  width: 15%;
  position: relative;

}

.first-half-closed{
  width: 7%;
  position: relative;

}

.first-half-closed a, .first-half-open a{
  margin-left: 30px;
}

.hh3{
  margin-top: 30px;
  margin-left: 30px;
}

.plus-closed{
  margin-top: 50px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.515);
}
.plus-closed a {
  margin-left: 15px;
}

.plus-closed .ayy{
  margin-top: 20%;
}

.plus-closed:hover{
  background-color: blue;
}

.plus-closed:hover .ayy{
  color: rgb(178, 178, 178);
}
.plus-open{
  margin-top: 50px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.515);
}

.plus-open a{
  text-decoration: none;
  color: grey;
 
}

.plus-open:hover{
  background-color: blue;
  color: rgb(178, 178, 178);
}
.plus-open:hover .ayy, .plus-open:hover .a{
  color: rgb(178, 178, 178);;
}

.items-div {
  /* position: absolute;
  top: 70px;
  left: 15%; */
  /* border: 2px solid blue; */
  padding: 10px;
  /* border-radius: 20px; */
  text-align: left;
  overflow-y: auto; 
  max-height: calc(100vh - 455px); 
}

.items-div a{
  font-size: 15px;
  color: rgb(20, 19, 19);;
}


.ayhaga{
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.ayhaga a{
  margin: auto;
}

.ayhaga:hover{
  background-color: blue;
  border-radius: 20px;
}

.bottom-first-half{
  position: absolute;
  bottom: 50px; 
}

.bottom-first-half div{
  /* width: 50px;
  height: 50px; */
  margin-left: 20px;
  border-radius: 50%;
}

.bottom-first-half .ayy{
  margin-left: -17px;
  margin-top: 25%;
  display: inline-block;
}

/* .bottom-first-half div:hover{
  background-color: blue;
} */

.bottom-first-half div:hover a{
  color: rgb(178, 178, 178);
}

.second-half{
  width: 100%;
  background-color: yellowgreen;
  position: relative;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
}


.icon-container {
  display: flex;
}

.icon-container a {
  margin-left: 10px;
  transform: translateX(-120px);
}
.bottom-second-half{
  width: 100%;
  position: absolute;
  bottom: 30px;
}

.bottom-second-half p{
  margin-top: 15px;
  margin-left: 35px;
}


.text-box {
  width: 60%;
  height: 60px;
  border-radius: 20px;
  border: 1px solid white;
  margin-left: 200px;
  outline: none;
  text-align: center;
  font-size: 17px;
  padding-right: 150px;
  padding-left: 15px;
}

.text-box::placeholder {
  padding-top: 20px; 
}


.upper-second-half{
  position: relative;
}

.title{
  position: absolute;
  left: 10px;
  top: 10px;
}

.user-icon{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('./images/User-Avatar-PNG-Transparent-Image.png');
  background-size: cover;
  background-position: center; 
}

.answer-box {
  position: absolute;
  width: 70%;
  top: 70px;
  left: 15%;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 20px;
  text-align: left;
  overflow-y: auto; 
  max-height: calc(100vh - 215px); 
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}



.ideas{
  display: flex;
  justify-content: space-around;
  margin-top: 290px;
}

.first-idea, .second-idea, .third-idea, .fourth-idea{
  width: 20%;
  height: 200px;
  border: solid 2px blue;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.ideas h3{
  margin-top: 60px;
}

.ideas p{
  margin-top: 10px;
}

.first-idea:hover, .second-idea:hover, .third-idea:hover, .fourth-idea:hover{
  background-color: rgba(0, 0, 255, 0.645);
}

.main-title{
  font-size: 50px;
  font-weight: 900;
}

.tagroba{
  background-color: black;
  padding: 20px;
  color: white;
  background: linear-gradient(to right, blue, green);
  background-clip:initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(180px);
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}




#load {
  background-color: black;
  position:absolute;
  width:600px;
  height:36px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-moz-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-webkit-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

@-o-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

/* Media query for small screens (max-width: 768px) */
@media screen and (max-width: 768px) {

  .first-half-closed {
    width: 20%; 
  }

  .first-half-open{
    width: 40%;
  }


  .hh3 {
    margin-top: 10px; 
    margin-left: 0; 
  }

  .plus-closed, .plus-open {
    margin: 20px auto;
  }

  .items-div {
    padding: 10px;
    text-align: left;
  }


  /* -------second half--------------- */

.input-container {
  display: flex;
  align-items: center;
}

.icon-container a {
  margin-left: 10px;
  transform: translateX(-90px);
}
.bottom-second-half{
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.bottom-second-half p{
  margin: auto;
  margin-top: 15px;
}

.input-container{
  width: 100%;
}
.text-box {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  border: 1px solid white;
  margin-left: 0%;
  transform: translateX(55px);
}

.text-box::placeholder {
  padding-top: 20px; 
}




  .upper-second-half {
    position: relative;
  }

  .tagroba{
    transform: translateY(28px);
    font-size: 12px;
  }

  .tagroba h2{
    font-size: 25px;
  }
  .ideas {
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-top: 20px; 

  }
  .answer-box{
  max-height: calc(100vh - 245px); 
  }

  .first-idea, .second-idea, .third-idea, .fourth-idea {
    width: 45%; 
    /* height: 200px; */
  }
  #load {
    width: 80%; 
    margin-left: -40%; 
    top: 50%; 
    transform: translateY(-50%); 
  }
}
