*{
  padding: 0;
  margin: 0;
}

a{
  font-size: 25px;
  cursor: pointer;
}

.container{
  display: flex;
  height: 100vh;
}

.first-half-open{
  width: 15%;
  background-color: aquamarine;
  position: relative;
  /* text-align: center; */
}

.first-half-closed{
  width: 7%;
  position: relative;
  /* text-align: center; */
}

.first-half-closed a, .first-half-open a{
  margin-left: 30px;
}

.hh3{
  margin-top: 30px;
  margin-left: 30px;
}

.plus-closed{
  margin-top: 50px;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.515);
}
.plus-closed a {
  margin-left: 15px;
}

.plus-open{
  margin-top: 50px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.515);
}

.plus-open a{
  text-decoration: none;
}

.items-div a{
  font-size: 15px;
}

.ayhaga{
  margin-top: 10px;
}

.ayhaga:hover{
  background-color: grey;
  border-radius: 20px;
}

.bottom-first-half{
  position: absolute;
  bottom: 50px; 
}


.bottom-first-half div:hover{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 25px;
  background-color: aqua;
}

.bottom-first-half div:hover a{
  margin-left: 5px;
}

.second-half{
  width: 100%;
  background-color: yellowgreen;
  position: relative;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
}

.text-box {
  flex: 1;
}

.icon-container {
  display: flex;
}

.icon-container a {
  margin-left: 10px;
  transform: translateX(-120px);
}
.bottom-second-half{
  width: 100%;
  position: absolute;
  bottom: 30px;
}

.text-box{
  width: 50%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid white;
}

.upper-second-half{
  position: relative;
}

.title{
  position: absolute;
  left: 10px;
  top: 10px;
}

.user-icon{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url('./images/User-Avatar-PNG-Transparent-Image.png');
  background-size: cover; /* Adjusts the size of the background image to cover the entire element */
  background-position: center; 
}

.answer-box{
  position: absolute;
  width: 100%;
  top: 80px;
}

.ideas{
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.first-idea, .second-idea, .third-idea, .fourth-idea{
  width: 20%;
  height: 300px;
  background-color: blue;
  cursor: pointer;
}